@font-face {
    font-family: 'fontChart';
    src: url('http://velo-bucket.oss-cn-beijing.aliyuncs.com/temp/CoreSansA45Regular.otf');
    font-weight: normal;
    font-style: normal;
}

body {
    background: red;
}